.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  flex-wrap: wrap;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.project-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image img {
  transition: box-shadow 0.3s;
  border-radius: 0.5rem;
  width: 100%;
  object-fit: contain;
}
.project-image img:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(31, 193, 188, 0.875);
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;

  border-radius: 0.5rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-divider {
  height: 1px;
  width: 60%;
  background-color: rgba(0, 179, 188, 0.313);
  margin-bottom: 1em;
}
.project-text:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(40, 196, 191, 0.875);
}
.project-name {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 4.7px;
  margin-bottom: 0.5em;
  padding: 3px 8px;
}

.project-description {
  text-align: center;
  font-family: Lato;
  font-size: 1em;
  margin-bottom: 1em;
}

.project-date {
  font-size: 1.2em;
  margin-bottom: 1em;
}

@media screen and (min-width: 550px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .project {
    grid-template-columns: 60% 1fr;
    align-items: start;
    gap: 1rem;
  }
  .project-image {
    width: 100%;
    justify-content: flex-end;
    grid-column: span 1;
  }
}

@media screen and (min-width: 800px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
  }
  .project {
    grid-template-columns: 1fr;
    align-items: end;
  }
  .project-image {
    grid-row: 1;
    grid-column: span 1;
  }
}
