.biography {
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: center;
}

.biography-grid {
  padding: 3rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'biography-number tab-selector'
    'tabs-view tabs-view ';
  column-gap: 2em;
}

.biography-number {
  grid-area: biography-number;
}

.tab-selector {
  grid-area: tab-selector;
  font-family: Poppins;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8em;
}

.tabs-view {
  grid-area: tabs-view;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
}

.biography-text {
  width: 100%;
  font-family: Lato;
  font-size: 0.9em;
}

@media screen and (min-width: 550px) {
  .biography-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      '. biography-number tab-selector'
      'tabs-view tabs-view tabs-view ';
  }
  .tab-selector {
    letter-spacing: 4.7px;
    justify-content: center;
  }
  .tabs-view {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 800px) {
  .biography-grid {
    width: min(90%, 1000px);
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'biography-number tabs-view'
      ' tab-selector tabs-view ';
  }
  .tab-selector {
    letter-spacing: 4.7px;
    align-items: center;
    justify-content: flex-start;
  }
  .tabs-view {
    margin-top: 0;
  }
}
